*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    z-index: 3;
}

.nav-item{
    text-transform: uppercase;
    color: gray;
}

.navbar-nav{
    gap: 0.7rem;
}
#main-nav a{
    color: gray;
}

#main-nav a:hover{
    color: #0d6efd;
    font-weight: 400;
}

#drop-list a:hover{
    color: black;
}
#drop-list a:active{
    background-color: rgb(180, 180, 180);
}

#top-icon a:hover{
    color: black;
}

#intro {
    background-color: #F3F3F3;
    position: relative;
}

#intro .row{
    height: 70vh;
    background-image: url(images/banner-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

#blur-bg{
    background-color: #f3f3f3b2;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
}

#intro-content{
    position: relative;
    z-index: 2;
}

#products .row{
    justify-content: space-evenly;
}

#watches .row{
    justify-content: space-evenly;
}

#cards-head a{
    letter-spacing: 2px;
}
#cards-head a:hover{
    text-decoration: none;
}

#card-holder{
    border: 2px solid red;
   margin-bottom: 20px;

}

.card-body h5:hover{
    color: #0d6efd;
    cursor: pointer;
}

#card-btn{
    position: absolute;
    bottom: 7rem;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    gap: 0.6rem;
    width: 90%;
    letter-spacing: 2px;
    display: none;
    border: none;
    border-radius: 0px;
}

#card-holder:hover #card-btn{
    display: flex;
}

#card-btn:hover{
    background-color: #0d6efd;
}

#sale .row{
     height: 70vh;
     background-color: #F3F3F3;
    background-image: url(images/single-image1.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right;
}